<% provide(:title, "Features") %>

<div class="ui segments">
  <div class="ui segment">
    <h3 class="ui header">Features</h3>
  </div>
  <div class="ui orange center aligned secondary segment">
    <div class="ui large blue labels">
		 	<div class="ui label">
		    30 Links
	  	</div>
		  <div class="ui label">
		    Simple interface
		  </div>
		  <div class="ui label">
		    Computer
	  	</div>
		  <div class="ui label">
		    Mobile
	  	</div>
		  <div class="ui label">
		    Tablet
	  	</div>
		</div>
  </div>
</div>

<table class="ui single line table">
  <tbody>
    <tr>
      <td class="center aligned"><a>Facebook</a></td>
      <td><a class="large fluid ui blue basic button">Up</a></td>
	    <td><a class="large fluid ui blue basic button">Down</a></td>
	    <td><a class="large fluid ui blue basic button">Disable</a></td>
	    <td><a class="large fluid ui blue basic button">Edit</a></td>
	    <td><a class="large fluid ui blue basic button">Delete</a></td>
    </tr>
    <tr>
      <td class="center aligned"><a>Twitter</a></td>
      <td><a class="large fluid ui blue basic button">Up</a></td>
	    <td><a class="large fluid ui blue basic button">Down</a></td>
	    <td><a class="large fluid ui blue basic button">Disable</a></td>
	    <td><a class="large fluid ui blue basic button">Edit</a></td>
	    <td><a class="large fluid ui blue basic button">Delete</a></td>
    </tr>
  </tbody>
</table>

<div class="ui segment">
	<form class="ui large form">

    <div class="field">
      <label>Profile Name</label>
      <input type="text" name="profile_name" readonly="", placeholder="Demo">
    </div>

    <b><label>Profile Image</label></b>
    <div class="disabled field">
      <input type="file" name="profile_image">
    </div>

    <div class="disabled field">
      <div class="ui checkbox">
        <input type="checkbox" tabindex="0" class="hidden">
        <label>Remove current profile image</label>
      </div>
    </div>

    <div class="field">
      <label>Profile Text Colour</label>
      <input type="file" name="profile_text_colour" class="colorpicker_text_demo">
    </div>

    <div class="field">
      <label>Profile Background Colour</label>
      <input type="file" name="profile_background_colour" class="colorpicker_background_demo">
    </div>

  	<div class="field">
    	<label>Profile Bio</label>
    	<textarea rows="3" readonly="" placeholder="Singlelink allows you to create and share a single link for all your social networks."></textarea>
  	</div>
	</form>
</div>
