<div class="home-header">Header 1</div>
<div class="home-subheader">Sub Header 1</div>
<div class="home-signup">
	<%= link_to new_user_registration_path do %>
	  Sign up <i class="fa fa-angle-right" aria-hidden="true"></i>
	<% end %>
</div>
<%= image_tag('browser.png', class: "responsive-image") %>
<p>The moment you open your MacBook, its gorgeous 12-inch Retina display with edge-to-edge glass brings everything into focus. Every photo leaps off the screen in rich, vibrant detail. Over 3 million pixels render each letter with crystal clarity. And it all comes to light on the thinnest Retina display ever on a Mac, meticulously honed to deliver a bold visual experience within an impossibly minimal design.</p>