<% provide(:title, "Pricing") %>

<div class="ui large labels">
  <div class="ui teal label">
    £20 per year
  </div>
  <div class="ui teal label">
    Cancel anytime
  </div>
  <%= link_to "Try Singlelink Me for Free", new_user_registration_path, class: "ui blue label" %>
</div>

<div class="ui segments">
  <div class="ui secondary segment">
    <h4 class="ui header">Your subscription</h4>
  </div>
  <div class="ui segment">
    <p><b>Renewal: </b><%= 1.year.from_now.strftime('%A %d %B %Y') %></p>
    <p><b>Cost: </b> £20 per year</p>
  </div>
</div>

<div class="ui segments">
  <div class="ui secondary segment">
    <h4 class="ui header">Your card</h4>
  </div>
  <div class="ui segment">
    <p><b>Payment Card (last 4 digits): </b>1234</p>
    <a class="ui primary button">Update Card</a>
  </div>
</div>

<div class="ui segments">
  <div class="ui secondary segment">
    <h4 class="ui header">Cancel</h4>
  </div>
  <div class="ui segment">
    <p>If you cancel your subscription now, you will be subscribed until <%= 1.year.from_now.strftime('%A %d %B %Y') %>
    then your subscription will be canceled.</p>
    <a class="ui primary button">Cancel Subscription</a>
  </div>
</div>