<% provide(:title, "Pricing") %>

<div class="ui segments">
  <div class="ui segment">
    <h3 class="ui header">Pricing</h3>
  </div>
  <div class="ui orange center aligned secondary segment">
    <div class="ui large blue labels">
		 	<div class="ui label">
		    £20 per year
	  	</div>
	  	<div class="ui label">
		    Simple interface
	  	</div>
		  <div class="ui label">
		    Cancel anytime
		  </div>
		  <div class="ui label">
		    No Hidden fees
	  	</div>
		</div>
  </div>
</div>

<div class="ui segment">
  <h3 class="ui header">Information</h3>
    <p><b>Renewal: </b><%= (Date.today + 1.month).strftime("%A %e %B %Y") %></p>
    <p><b>Cost: </b> £20 per year</p>
    <p><b>Billing Card (last 4 digits): </b>1502</p>
</div>

<div class="ui segment">
  <h3 class="ui header">Card</h3>
	<a class="ui primary button">Update Card</a>
</div>

<div class="ui segment">
  <h3 class="ui header">Cancel</h3>
  	<p>If you cancel your subscription now, you will be subscribed until <%= (Date.today + 1.month).strftime("%A %e %B %Y") %>
    then your subscription will be canceled.</p>
    <a class="ui primary button">Cancel Subscription</a>
</div>
