<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Hi, <%= @user.username %></h3>
    <p>Your subscription has been cancelled.</p>
  </body>
</html>