<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Hi, <%= @user.username %></h3>
	  <% if @attempt_count ==  3 %>
	  	<p>Your subscription payment failed, the next payment attempt will be on <%= Time.at(@next_payment_attempt).strftime("%A %d %B %Y") %>.</p>
	    <p>This will be your final payment attempt before we cancel your subscription.</p>
	  <% else %>
	    <p>Your subscription payment failed, the next payment attempt will be on <%= Time.at(@next_payment_attempt).strftime("%A %d %B %Y") %>.</p>
	  <% end %>
  </body>
</html>