<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Hi, <%= @user.username %></h3>
    <p>Your trial will end in 3 days then the billing plan will start.</p>
    <p>If you cancelled your subscription during the trial, ignore this message.</p>
    <p>Unsure? Login and go to your subscription settings.</p>
  </body>
</html>