<% if !@links.empty? %>

	<div class="ui small animated list link items">
		<% @links.each do |link| %>
		  <% if link.disable == false %>
		  <div class="ui segment">
		    <%= link_to link.url, class: "item", :target => "_blank" do %>
		    	<div class="ui tiny image">
		    	  <%= image_tag("twitter.png") %>
		    	</div>
		    	<div class="middle aligned content">
		    		<div class="header">Twitter</div>
		    		<div class="description">
							www.twitter.com
						</div>
					</div>
				<% end %>
			</div>
			<% end %>
		<% end %>
	</div>

<% else %>
	No links
<% end %>