<div class="ui segment">
  <h3 class="ui header">Card</h3>
  <p>If you update your card, make sure to wait a few minutes for the system to update then re-visit this page to check the correct billing card is shown.</p>
	<%= form_tag card_subscription_path do %>
	  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
	          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
	          data-name="Update Card"
	          data-email="<%= @user.email%>"
	          data-locale="auto"
	          data-label="Update Card"
	          data-panel-label="Update Card"
	          data-allow-remember-me="false"></script>
	<% end %>
</div>