<div class="ui blue segment">
  <h3 class="ui header">Resume</h3>
  <p>If you resume your subscription now, you will be charged £20 on <%= @user_subscription.end_date.strftime("%A %d %B %Y") %>.</p>
	<%= link_to "Resume Subscription", resume_confirm_path, data: { confirm: "Are you sure?" }, class: "ui primary button" %>
</div>