<div class="ui two steps">
  <div class="active step">
    <i class="payment icon"></i>
    <div class="content">
      <div class="title">Billing</div>
      <div class="description">Enter billing information</div>
    </div>
  </div>
  <div class="disabled step">
    <i class="home icon"></i>
    <div class="content">
      <div class="title">Homepage</div>
      <div class="description">Go to your homepage</div>
    </div>
  </div>
</div>