<div class="ui large three steps">
  <div class="completed step">
    <i class="user icon"></i>
    <div class="content">
      <div class="title">Account</div>
      <div class="description">Set up an account</div>
    </div>
  </div>
  <div class="active step">
    <i class="payment icon"></i>
    <div class="content">
      <div class="title">Billing</div>
      <div class="description">Enter billing information</div>
    </div>
  </div>
  <div class="disabled step">
    <i class="dashboard icon"></i>
    <div class="content">
      <div class="title">Dashboard</div>
      <div class="description">Go to your dashboard</div>
    </div>
  </div>
</div>