<p>Downgrade your subscription to the <b>Pro plan for £5 a month</b>.</p>

<p>You won't be charged until <b><%= @user_subscription.end_date.strftime("%d %B %Y") %></b> and your subscription remains as <b>Business plan</b> until that date.</p>

<%= button_to "Downgrade Subscription", { :controller => "subscriptions", :action => "downgrade_confirm" } %>