<ul>
  <% if can? :pro, Subscription %>
    <li><%= link_to "Pro Subscription", pro_subscription_path %></li>
  <% end %>

  <% if can? :resume, Subscription %>
    <li><%= link_to "Resume Subscription", resume_subscription_path %></li>
  <% end %>

  <% if can? :cancel, Subscription %>
    <li><%= link_to "Cancel Subscription", cancel_subscription_path %></li>
  <% end %>

  <% if can? :card, Subscription %>
    <li><%= link_to "Update Card", card_subscription_path %></li>
  <% end %>
</ul>

