<div class="ui large attached four item menu">
  <%= link_to 'About', about_path, class: "item" %>
  <%= link_to 'Help', help_path, class: "item" %>
  <%= link_to 'Terms', terms_path, class: "item" %>
  <%= link_to 'Contact', contact_path, class: "item" %>
</div>
<h3 class="ui bottom attached center aligned header">
  <div class="sub header">© Singlelink Me Ltd - Company Reg No: 1111111 - Registered in England - 11 Bury St, London, EC3A 5AT, UK.</div>
</h3>