<div class="ui large bottom four item menu">
	<%= link_to 'About', about_path, class: "item" %>
	<%= link_to 'Help', help_path, class: "item" %>
	<%= link_to 'Terms', terms_path, class: "item" %>
	<%= link_to 'Contact', contact_path, class: "item" %>
</div>