<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="wrapper" class="wrapper">
    <div id="fullpage">
      <div class="section">
        <ul class="static-menu">
          <li><i id="menuToggle" class="fa fa-bars" aria-hidden="true" data-click-state="0"></i></li>
          <li class="logo">Singlelink Me</li>
        </ul>
        <ul id="menuPanel" class="hidden-menu" role="navigation">
          <li><a href="#">Home</a></li>
          <li><a href="#">News</a></li>
          <li><a href="#">Contact</a></li>
          <li><a href="#">About</a></li>
        </ul>
      </div>
      <div class="section">Section 2</div>
      <div class="section">Section 3</div>
      <div class="section">Section 4</div>
    </div>
  </div>
</body>
</html>